# PostgreSQL (db_media)
DB_NAME=db_media
DB_USERNAME=postgres
DB_PASSWORD=changeme

# Redis (cache métadonnées fichiers)
REDIS_PASSWORD=changeme

# Eureka
EUREKA_URL=http://eureka-server:8761/eureka/

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Sécurité inter-services — DOIT être identique dans tous les microservices
INTERNAL_TOKEN=changeme-internal-token
